<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="dashboard" xmlns="http://www.w3.org/1999/html">

<th:block layout:fragment="content">
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <form action="#" th:action="@{/insertgrades}" th:object="${form}" method="post">
                        <div class="card strpied-tabled-with-hover">
                            <div class="card-header ">
                                <h4 class="card-title">Turmas</h4>
                                <p class="card-category">listagem</p>
                            </div>
                            <div class="card-body table-full-width table-responsive">
                                <table class="table table-hover table-striped">
                                    <thead>
                                    <th>NOME</th>
                                    <th>NOTA</th>
                                    </thead>
                                    <tbody>
                                        <tr th:each="turmaaluno, itemStat : ${form.turmas}">
                                            <td th:text="*{turmas[__${itemStat.index}__].aluno.nome}" /></td>
                                            <td>
                                                <input hidden th:name="|turmas[${itemStat.index}].id|" th:value="${turmaaluno.getId()}"/>
                                                <input hidden th:name="|turmas[${itemStat.index}].aluno.id|" th:value="${turmaaluno.getAluno().getId()}"/>
                                                <input hidden th:name="|turmas[${itemStat.index}].turmaDisciplina.id|" th:value="${turmaaluno.getTurmaDisciplina().getId()}"/>

                                                <input  th:name="|turmas[${itemStat.index}].nota|" th:value="${turmaaluno.getNota()}"/></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="form-group">
                            <div>
                                <button class="btn btn-primary " name="submit" type="submit" value="save">
                                    Submit
                                </button>
                                <button class="btn btn-secondary " name="reset" type="reset" value="reset">
                                    Reset
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</th:block>
</html>