<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="dashboard">

<th:block layout:fragment="content">
    <div class="content">
        <div class="container-fluid">
            <div class="bootstrap-iso">

                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <form  action="#" th:action="@{/register/student}" th:object="${usuario}" method="post">
                                <div class="form-group ">

                                    <script>
                                        function loadTurma(){
                                            var selectCursoId = $('#curso').val();

                                            $.get('/register/student/load-turma/'+selectCursoId, result => {
                                               $('#turma').empty();

                                               for(index in result){
                                                    $('#turma').append(new Option(result[index].nomeTurma, result[index].id));
                                               }
                                            });
                                        }
                                    </script>

                                    <h4>INSERIR ALUNO</h4>
                                    <label class="control-label requiredField" for="nome">
                                        Nome
                                        <span class="asteriskField">*</span>
                                    </label>
                                    <input class="form-control" id="nome" name="nome" placeholder="Nome completo" type="text" th:field="*{nome}"/>
                                    <span th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"></span>
                                </div>
                                <div class="form-group ">
                                    <label class="control-label requiredField" for="email">
                                        Email
                                        <span class="asteriskField">*</span>
                                    </label>
                                    <input class="form-control" id="email" name="email" placeholder="email@exemplo.com" type="text" th:field="*{email}"/>
                                    <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
                                </div>
                                <div class="form-group ">
                                    <label>Data de nascimento</label>
                                    <div class="input-group date" data-provide="datepicker" >
                                        <input type="date" class="form-control" id="data_nascimento" th:field="*{data_nascimento}">
                                        <div class="input-group-addon">
                                            <span class="glyphicon glyphicon-th"></span>
                                        </div>
                                        <span th:if="${#fields.hasErrors('data_nascimento')}" th:errors="*{data_nascimento}"></span>
                                    </div>
                                </div>
                                <div class="form-group ">
                                    <label class="control-label requiredField">
                                        G&eacute;nero
                                        <span class="asteriskField">*</span>
                                    </label>
                                    <div class="">
                                        <div class="radio">
                                            <label class="radio">
                                                <input name="radio" type="radio" value="MASCULINO" th:field="*{genero}"/>
                                                MASCULINO
                                            </label>
                                        </div>
                                        <div class="radio">
                                            <label class="radio">
                                                <input name="radio" type="radio" value="FEMININO" th:field="*{genero}"/>
                                                FEMININO
                                            </label>
                                            <span th:if="${#fields.hasErrors('genero')}" th:errors="*{genero}"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group ">
                                    <label class="control-label requiredField" for="password">
                                        Password
                                        <span class="asteriskField">*</span>
                                    </label>
                                    <input class="form-control" id="password" name="password" type="text" th:field="*{password}"/>
                                    <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
                                </div>
                                <div class="form-group ">
                                    <label class="control-label " for="curso">
                                        Selecione o Curso
                                    </label>
                                    <select class="select form-control" id="curso" name="curso" th:field="*{cursoId}" onchange="loadTurma()">
                                        <option value="">
                                            Selecione o curso
                                        </option>
                                        <option th:each="curso : ${cursos}" th:value="${curso.id}"
                                        th:text="${curso.nome}"></option>
                                    </select>

                                    <label class="control-label " for="turma">
                                        Selecione a Turma
                                    </label>
                                    <select class="select form-control" id="turma" name="turma" th:field="*{turma}"></select>

                                </div>
                                <div class="form-group">
                                    <div>
                                        <button class="btn btn-primary " name="submit" type="submit" value="registerAluno">
                                            Submit
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</th:block>
</html>