<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="dashboard">

<th:block layout:fragment="content">
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card strpied-tabled-with-hover">
                        <div class="card-header ">
                            <h4 class="card-title">Resumo de Registos</h4>
                            <p class="card-category">Here is a subtitle for this table</p>
                        </div>
                        <div class="card-body table-full-width table-responsive">
                            <table class="table table-hover table-striped">
                                <thead>
                                <th>DESCRIÇÃO</th>
                                <th>QUANTIDADE</th>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>Alunos</td>
                                    <td th:text="${count_students}"></td>
                                </tr>
                                <tr>
                                    <td>Professores</td>
                                    <td th:text="${count_professors}"></td>
                                </tr>
                                <tr>
                                    <td>Disciplinas</td>
                                    <td th:text="${count_subjects}"></td>
                                </tr>
                                <tr>
                                    <td>Cursos</td>
                                    <td th:text="${count_courses}"></td>
                                </tr>
                                <tr>
                                    <td>Turmas</td>
                                    <td th:text="${count_courseclass}"></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</th:block>
</html>